@charset "utf-8";

#wrapper
{
    padding: 10px;
    background: white;
    height:auto;
    width:auto;
}

body
{
    padding:0px;
    margin:0px;
    background: white;
    overflow-x: hidden;
}

input, button
{
    border: none;
    background: rgba(0, 0, 0, 0);
}

input[type="text"]
{
    padding: 3px;
    border: thin solid olive;
}

button
{
    padding-left:1px;
    padding-right:1px;
    cursor:pointer;
    color: midnightblue;
}

button:hover
{
    color: blue;
    font-weight: bold;
}

table
{
    border-collapse: collapse;
}

#div_notice
{
    font-size:small;
}

.cHidden
{
    display:none;
}
.cText 
{
    font-size: small;
}

.cTabGroupMenu
{
    position: absolute;
    background: white;
    padding:3px;
    border-radius: 5px;
    border:thin solid olive;
}