@charset "utf-8";

#wrapper
{
    padding: 10px;
    background: white;
    height:auto;
    width:auto;
}

body
{
    padding:0px;
    margin:0px;
    background: white;
    overflow-x: hidden;
}

input, button
{
    border: none;
    background: rgba(0, 0, 0, 0);
}

input[type="text"]
{
    padding: 3px;
    border: thin solid #999;
    border-radius: .3em;
}

input[type="checkbox"]
{
    vertical-align: middle;
}

button
{
    padding-left:1px;
    padding-right:1px;
    cursor:pointer;
    color: midnightblue;
        /* vertical-align: middle; */
}

button:hover
{
    color: blue;
    font-weight: bold;
}

table
{
    border-collapse: collapse;
}

#div_notice
{
    font-size:small;
}
#div_tabGroupListNavi
{
    text-align: center;
}

#div_tabGroupListNavi button
{
    height: 1em;
}


.cButtons
{
    height: .8em;
    margin-left: .3em;
    margin-right: .3em;
}

.cHidden
{
    display:none;
}
.cText 
{
    font-size: small;
    vertical-align: middle;
}

.cTabGroupMenu
{
    position: absolute;
    background: white;
    padding:3px;
    border-radius: 5px;
    border:thin solid olive;
}